body {
  background-image: url("/static/wooooow.jpeg");   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.content {
    max-width: 1000px;
  
 
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .button-container {
   
    text-align: center;
   
  margin-left: -600px;
}
 
  .button-container button {
    padding: 8px 16px;
    background-color: #171612;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1200px;
}
  .form-container {
    text-align: center;
    margin-top: 100px;
  }

  table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
    margin-left: 100px;
    color: #171612;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f5f5f5;
  } 

.bi{
color: rgb(255, 47, 0);
margin-left: 20px;
  } 


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #131111;
  text-decoration: none;
}



header {
  background-color: #fbd784;
  color: #121010;
  padding: 20px;
}