body {
    background-image: url("/static/qqqqq.jpeg");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* .container{
    background-color: antiquewhite;
    height: 350px;
    width: 0px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
} */
.back{
    height: 750px;
    width: 900px;
    margin-left: 150px;
    border-radius: 15px;
   

    
}
.Card {
    position: absolute;
    height:500px;
    width: 270px;
    border-radius: 15px;
    background-color: rgb(251, 230, 126);
    margin-top: -700px;
    margin-left: 350px;
    margin-right: auto;
    border: 10px;
    opacity: 0.5;
}
.form-group {
    margin-bottom: 20px;
    margin-left: 10px;
}
.form-group label {
    display: hsl(0, 0%, 6%);
    font-weight: bold;
    margin-bottom: 5px;
    color: hsl(120, 8%, 3%);
}
.form-group input,
.form-group textarea {
    width: 90%;
    padding: 8px;
}
.form-group textarea {
    height: 100px;
}
.form-group input[type="submit"] {
    background-color: #0d7a26;
    color: rgb(75, 3, 43);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
button{
    height: 30px;
    width: 150px;
    background-color: white;
    border-radius: px;
    border-color: rgb(248, 214, 141);
    color: rgb(12, 4, 4);
}