body {
    background-image: url("./wedwall.jpeg");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
 
  .container h1{
    font-size: 16px;
    margin-top: 30px;
  }
  

   /* img {
    max-width: 60%;
    max-height: 200px;
    margin: auto;
    display: block;
} */

  .thumbnail {
    width: 2500px;
    height: 2500px;
    background-image: url('thumbnail.jpg');
    background-size: cover;
  }

  /* Style the form container */
  .form-container {
    text-align: center;
    margin-top: 20px;
    border-radius: 60px;
  }
  
  .add button {
  border-radius: 60px;
}
  /* Style the input field and buttons in the form */
  #Wedding-input {
    padding: px;
    width: 100px;
  }
  
  #Wedding-form button {
    margin-left: 5px;
  }
  
  
  .button-container {
    text-align: center; /* Optional: Centers the buttons horizontally */
}


.button-container button {
    display: inline-block;
    margin-right: 50px; /* Optional: Adds space between buttons */
    background-color: #f8f6f2;
    width: 120px;
    height: 30px;
    border-radius: 60px; 
    margin-top: 150px;
    margin-bottom: 20px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #131111;
  text-decoration: none;
}

header {
  background-color: #fbd784;
  color: #121010;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #131212;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #f0ca58;
  color: #141313;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

nav a:hover {
  background-color: #000;
  color: #fff;
} */

