
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Services</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Add_Services.css">
</head>

<body>
  <div class="outer-container">
    <div class="booking-container">
      <h1>Add Services</h1>

      <table id="booking-table">
        <thead>
       
        </thead>
        <tbody>
          <div class="container">
            <div class="image-container">
                <img class="back" src="https://i.pinimg.com/564x/5f/37/06/5f3706a1143567d75aa6543a0e3897b3.jpg" alt="background Image">
                <div class="Card">
     
      <form action="/Add_Services" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                        <label for="categories">Categories:</label>
                        <input type="text" id="categories" name="categories" required>
                        </div>

                        <div class="form-group">
                        <label for="price">Prices:</label>
                        <input type="text" id="price" name="price" required>
                        </div>

                        <div class="form-group">
                        <label for="colour">Colours:</label>
                        <input type="text" id="colour" name="colour" maxlength="8" required>
                        </div>

                       <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" maxlength="8" required>
                      </div>
                      <div class="form-group">
                        <label for="image">Choose Image:</label>         
                        <input type="file" id="image_url" name="image_url" accept="image/*"><br><br>  
                      </div>
                     
               



          <button type="submit" onclick="test()">Add Services</button>
          
      </form>
      <!-- <button onclick="test()">Test BTN</button> -->
    </thead>
    <tbody>
</body>
<script>
  function test() {
    const price = document.getElementById("price").value
    const colours = document.getElementById("colour").value
    const description = document.getElementById("description").value
    const category = document.getElementById("categories").value
    const image = document.getElementById("image_url").value

    console.log("testing onclick")
    console.log("test category:", category)
    console.log("test price :", price)
    console.log("test colours :", colours)
    console.log("test description:", description)
    console.log("test image:", image)
 
  }
</script>
</html> 
