<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Addservices.css">
</head>
<body>
    <div class="content">
        <header>
        <center><h1>Inno's Wedding Wonders Call Log</h1></center>

        <nav>
            <ul>
                <left>
                    <div class="button-container">
                        <a href="/AddItem"><button>Add</button></a>
                    </div>
                </left>
            </ul>
        </nav>
    </header>



        <center>
            <form action="/calllog" method="GET">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Date</th>
                            <th>Cell numbers</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for calllog in calllog %}
                        <tr>
                            <td>{{calllog.name}}</td>
                            <td>{{calllog.surname}}</td>
                            <td>{{calllog.date}}</td>
                            <td>{{calllog.cellphone_number}}</td>
                            <td>{{calllog.description}}</td>
                            <td><form action="/calllog" method="post">
                                <input type="hidden" id="delete" name="delete" value={{calllog.surname}}>
                                <input type="submit" value="Delete">
                              </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </center>
    </div>

    <script src="{{ url_for('static', filename='') }}"></script>
</body>
</html>