<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Service Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="./static/DeleteCalllog.css">
      
 
</head>
<body>
  <div class="container">
    <div class="image-container">
        <img class="back" src="./static/wwwwww.jpeg" alt="background Image">
        <div class="Card">
        <form action="/add_call" method="post">
            <h1><b><center>Delete Log<center/></b></h1>
            <div class="form-group">
              <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="surname">Surname:</label>
                <input type="text" name="surname" required>
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
                <input type="date" id="date" name="date" maxlength="8" required>
            </div>
            <div class="form-group">
              <label for="cellphone">Cellphone number:</label>
                <input type="cellphone_number" id="cellphone_number" name="cellphone_number" maxlength="12" required>
            </div>
            <div class="form-group">
              <label for="date">Description:</label>
                <input type="description" id="description" name="description" maxlength="30" required>
            


            <br><br><br>
            <center><button>Submit</button></center>
        </form>
        <script src="/static/addtransaction.js"></script>  
        </div>
    </div>
    
 </div>



  
</body>
</html> 