<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Display_Services.css">
</head>
<body>


    
    <header>
        <center> <h1>WEDDING WONDERS</h1></center>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
          </ul>
        </nav>
      </header>

      
      <body>
       


       
  {% for service in services %}
  <div class="service">
      <h2>{{ service['categories'] }}</h2>
      <h2>{{ service['price'] }}</h2>
      <h2>{{ service['colour'] }}</h2>
      <h2>{{ service['description'] }}</h2>
      <div class="gallery">
        <img src="static/images/wed4.jpeg" alt="xsehkweuhdc">      </div>
 
      <form action="/delete" method="post">
        <input type="hidden" id="delete_id" name="delete_id" value={{ service['_id']}}><br>
        <input type="submit" value="Delete">
      </form>

      <form action="/Edit_Services" method="post">
        <input type="hidden" id="id" name="id" value={{ service['_id']}}><br>
        <input type="submit" value="Update">
      </form>

  </div>
  {% endfor %}



                
                    </tbody>
                </table>
            </form>
        </center>
    </div>

</body>
</html>