<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/ViewProduct.css">
</head>
<body>

    
        
    <header>
        <center> <h1>Wedding Wonders Online Store</h1></center>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
          </ul>
        </nav>
      </header>
      
      <div id="cart-overlay" class="cart-overlay">
        <div class="cart-container">
            <h2>My Shopping Cart</h2>
            <div id="cart-items"></div>
        </div>
    </div>

      <div class="items">
        <div class="item">
          <img src="https://i.pinimg.com/474x/e0/8b/08/e08b08eb70e0aaf769a7bb100f389437.jpg" alt=""><br><br>
          <p>16" curly</p>
            <span>Item 1 - R1400</span>
            <button onclick="addItemToCart('Item 1')">Add to Cart</button>
        </div>
        <br></br>
        <div class="item">
          <img src="https://i.pinimg.com/564x/2b/cc/aa/2bccaafa855b44c44bc3cb4c8e3eac01.jpg" alt=""><br><br>
          <p>Elegant Wedding Dresses</p>
            <span>Item 2 - R14000</span>
            <button onclick="addItemToCart('Item 2')">Add to Cart</button>
        </div>
        <br></br>
        <div class="item">
          <img src="https://i.pinimg.com/474x/6b/d3/68/6bd368baf92d15bf4c243610cebb7cc4.jpg" alt=""><br><br>
          
          <p>Long Train Wedding Dress</p>
            <span>Item 3 - R33200</span>
            <button onclick="addItemToCart('Item 3')">Add to Cart</button>
        </div>

        <br></br>

        <div class="item">
        <img src="https://i.pinimg.com/564x/ea/3a/cb/ea3acbc935d4f5150308fc089588a3e1.jpg" alt=""><br><br>
        
        <p>Custom long sleeve wedding Dress</p>
          <span>Item 3 - R8300</span>
          <button onclick="addItemToCart('Item 3')">Add to Cart</button>
      </div>

    </div>

   