<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/Access.css">
        
    </head>

    <center><h2>Inno's Wedding Wonders</2></center>

    <body>
       <div class="Register">
        <a href="/Register"><img src="https://i.pinimg.com/474x/b5/86/4b/b5864bac8ae0676df2c3c4482bc4e953.jpg" alt="">
        <form class="form" action="/Register" method="post">
            <a href="/Register"></a><input type="submit" value="Register">
          </form>
        </a>
        </div>

       <div class="Admin">
        <a href="/signup"><img src="https://i.pinimg.com/474x/2d/ea/b0/2deab0a8959d2d0bbaa4c773344c4d13.jpg" alt="">
        <form action="/SignUp_Admin" method="post">
          <input type="hidden" id="Admin" name="Admin" value="Admin"><br><br>
          <a href="/SignUp_Admin"><input type="submit" value="Admin">
        </form>
      </a>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>