<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Services</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Add_Services.css">
</head>

<form action="/AddToCart" method="POST">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id"><br><br>
   
    <label for="category">Category:</label>
    <input type="text" id="category" name="category"><br><br>
    
    <label for="price">Price:</label>
    <input type="text" id="price" name="Price"><br><br>
    
    <label for="colour">Colour:</label>
    <input type="text" id="colour" name="colour"><br><br>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br><br>
    
    <input type="submit" value="Add to Cart">
</form>

<h1>Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
           
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>Colour</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="static/images/{{ item.image }}" width="100" height="100"></td>
                <td>{{ item.Name }}</td>
                <td>R{{ item.Amount }}</td>
                <td>
                    <form method="POST" action="{{ url_for('remove_from_cart') }}">
                        <input type="hidden" name="selected_items" value="{{ item.id }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
                <td>
                    <p><form action="/cart/update_quantity" method="post" style="display: inline;">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button type="submit" name="quantity" value="{{ item.quantity - 1 }}" {% if item.quantity == 1 %}disabled{% endif %}>-</button>
                        </form>
                    {{ item.quantity }}
                        <form action="/cart/update_quantity" method="post" style="display: inline;">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button type="submit" name="quantity" value="{{ item.quantity + 1 }}">+</button>
                        </form>
                        
                </td>
                
            </tr>
            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total</td>
                <td colspan="2">R{{ total_price }}</td>
            </tr>
        </tfoot>
    </table>
    <form method="POST" action="{{ url_for('checkout') }}">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>